.top {
    margin: 20px;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}

.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.list div {
    padding: 0;
}

.section {
    color: gray;
    font-weight: 700;
}

.songul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.songul li {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    padding: 8px;
}

.time {
    border-right: 1px solid lightgray;
}

.buttonul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 22%;
    padding-top: 22%;
    padding-left: 4%;
}